.mod-brand-detail-4 .brand-logo {
     background: unset;
}

.mod-brand-detail-4 .wrap-img-thumb {
    vertical-align: unset;
}

.popular_offers_content div.coupon-price
{
	white-space: normal !important;
	min-height:85px !important;
}

.popular_offers_content div.wrap-img-thumb
{
	height:50px !important;
}

.popular_offers_content div.wrap-img-thumb img
{
	max-width: 50% !important;
}

.home_page_brands
{
	margin-top:20px !important;
}

.mod-list-store .wrap-list-store .center-img {
    width: 100%;
    height: auto; 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
.mod-coupon-detail .wrap-thumb .wrap-img-thumb {
     width: 100%; 
     height: auto; 
 }
 .details-coupon-desc{
 	font-size: 16px;
 }

 .coupons-code-item .save-price a,.coupon-price
 {
    color:#414a4c !important;
 }

 .coupons-code-item.right-action
 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    border : 2px solid #f2f2f2 !important;
 }

.coupons-code-item.right-action .lbl-work 
    {
        font-size:15px !important;
    }


 .coupons-code-item .save-price a {
    font-size: 20px;
    
   }

 .coupon-price
 {
    font-size: 14px !important;
 }

.lbl-vote-thanks
{
    font-size:10px !important;
    display: none !important;
}

.show_description
{
        display:none;
}

.category-brand-desc
{
    margin:10px !important;
    width:70% !important;
}

.category-content .brand-logo
{
    width:100px !important;
}

.category-content .center-img
{
    height: auto !important;
}

.btn.btn-blue
{
    background-color:#ef2f30 !important; 
    border-bottom: 3px solid #ef2f30;

}

.coupons-code-item.right-action .bottom-action .btn-view-coupon
{
    border-bottom: 2px solid #ef2f30;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    box-shadow: 0 5px 3px rgba(0,0,0,0.05);
    z-index: 9999;
    background-color: #fff;
    animation: smoothScroll 1s forwards;
}
.mod-header{
    -webkit-transition: all 0.5s ease;
  -moz-transition: position 1s;
  -ms-transition: position 1s;
  -o-transition: position 1s;
  transition: all 0.5s ease;
}

.mod-coupon-detail .brand-name
{
    font-size: 22px !important;
}

.mod-coupon-detail .details-coupon-desc
{
    margin-top: 20px !important;
    font-size: 14px !important;
}

#main-menu > li.active > a, #main-menu > li > a:hover
{
    color:#ef2f30 !important;
}



.coupon-item:hover .coupon-content {
    border-color: #ef2f30 !important;
}

.store_list_logo
{
    width:12% !important;
}

.store_az_div
{
    width:100% !important;
    display: inline-block !important;
}

.store_az_ul
{
    list-style-type:none !important;
    display:inline-block !important;
}

.store_az_li
{
    margin:5px !important;
    font-size:16px !important;
    display:inline !important;
    cursor: pointer;
}

.store_az_ul li.active
{
    color:#ef2f30 !important;
}

.mod-filter.fix-top {
    position: fixed;
    top: 57px !important;
    left: 0;
    width: 100%;
    z-index: 99;
}



@media only screen and (max-width: 768px) {

    .popular_store_box div.brand-item
    {
        width:30% !important;
    }

    .popular_store_box div.brand-item .wrap-img-logo
    {
        height:60px !important;
    }

    .popular_offers_content div.coupon-price
    {
        white-space: normal !important;
        min-height:50px !important;
    }

    .popular_offers_content div.wrap-img-thumb
    {
        height:50px !important;
    }

    .follow-brand-web
    {
        display:none !important;
    }

    .wrap-img-thumb
    {
        height :auto !important;
    }

    #sys_mod_filter
    {
        display:none !important;
    }

    .mod-brand-detail-4 {

        padding-top:10px !important;
    }

    
    .wrap-list
    {
        padding:7px !important;
    }

    .brand-logo
    {
        padding-top:0px !important;
        padding-bottom : 0px !important;
    }

    .brand-desc
    {
        padding-top:0px !important;
    }

    .coupons-code-item.right-action .lbl-work 
    {
        font-size:12px !important;
    }


   .coupons-code-item .save-price a {
    font-size: 16px;
    
   }

   .coupon-desc
    {
        display:none;
    }

    .show_description
    {
        display:block;
    }

    .category-brand-desc
    {
        margin:0px !important;
        width:100% !important;
    }

    .store_az_ul
    {
        overflow: scroll !important;
        white-space: nowrap !important;
        width: 100% !important;
        padding-left: 0px !important;
    }

    .store_list_logo {
        width: 25% !important;
    }



 }