﻿@import url(http://fonts.googleapis.com/css?family=Viga);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
